// Import Bulma's core
@import "~bulma/sass/utilities/_all";
// Set your colors
$primary: #8c67ef;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);
$success: rgb(0, 166, 114);
$info: rgb(226, 76, 178);
// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: ( "white": ( $white, $black), "black": ( $black, $white), "light": ( $light, $light-invert), "dark": ( $dark, $dark-invert), "primary": ( $primary, $primary-invert), "info": ( $info, $info-invert), "success": ( $success, $success-invert), "warning": ( $warning, $warning-invert), "danger": ( $danger, $danger-invert), "twitter": ( $twitter, $twitter-invert));
// Links
$link: rgb(0, 166, 114);
$link-hover: rgb(235, 244, 241);
$link-invert: rgb(235, 244, 241);
$link-focus-border: $primary;
// Custom variables
$text: rgb(235, 244, 241);
$body-background-color: #091a28;
$navbar-background-color: #081928;
$navbar-item-hover-background-color: #081928;
$card-background-color: #0e2233;
$card-header-color: rgb(235, 244, 241);
$title-color: rgb(235, 244, 241);
$subtitle-color: rgb(235, 244, 241);
$tag-background-color: #c9d3d3;
$tag-color: #0e2233;
$input-background-color: #0e2233;
$input-border-color: #0e2233;
$input-hover-border-color: rgb(0, 166, 114);
$input-color: rgb(235, 244, 241);
$input-hover-color: rgb(235, 244, 241);
$label-color: rgb(0, 166, 114);
$footer-background-color: #081928;
$footer-padding: 1rem;
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";