header {
    border-bottom: 1px solid #0d2538;
}

.navbar {
    .link {
        font-weight: 700;
    }
}

footer {
    border-top: 1px solid #0d2538;
}

.has-text-info {
    background: rgba(212, 53, 159, 0.1);
    padding: .2rem;
}