header {
    border-bottom: 1px solid #0d2538;
}

// .navbar {
//     .link {
//         font-family: -apple-system, BlinkMacSystemFont, sans-serif;
//     }
// }
// .codey {
//     font-family: -apple-system, BlinkMacSystemFont, sans-serif;
// }
footer {
    border-top: 1px solid #0d2538;
}

// .tag {
//     font-family: -apple-system, BlinkMacSystemFont, sans-serif;
//     font-weight: 400 !important;
// }
.has-text-info {
    background: rgba(212, 53, 159, 0.1);
    padding: 0.2rem;
    // font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400 !important;
}